[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stripe = "==2.67.0"
fastapi = "==0.75.0"
uvicorn = "==0.17.6"

[requires]
python_version = "3.10"

[dev-packages]
black = "*"

[pipenv]
allow_prereleases = true
